In [31]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/MLDM /Course Work-2/Insurance cross sell.csv')
data.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1    Male   44  ...                  26.0      217         1
1   2    Male   76  ...                  26.0      183         0
2   3    Male   47  ...                  26.0       27         1
3   4    Male   21  ...                 152.0      203         0
4   5  Female   29  ...                 152.0       39         0

[5 rows x 12 columns]

As some values of teh dataset are not numericals, we need to convert them.

In [32]:
df = data.drop(['id',], axis=1)
df['Gender'] = df['Gender'].map( {'Female': 0, 'Male': 1} ).astype(int)

In [33]:
df=pd.get_dummies(df,drop_first=True)

In [34]:
df=df.rename(columns={"Vehicle_Age_< 1 Year": "Vehicle_Age_lt_1_Year", "Vehicle_Age_> 2 Years": "Vehicle_Age_gt_2_Years"})
df['Vehicle_Age_lt_1_Year']=df['Vehicle_Age_lt_1_Year'].astype('int')
df['Vehicle_Age_gt_2_Years']=df['Vehicle_Age_gt_2_Years'].astype('int')
df['Vehicle_Damage_Yes']=df['Vehicle_Damage_Yes'].astype('int')

In [35]:
df.columns

Index(['Gender', 'Age', 'Driving_License', 'Region_Code', 'Previously_Insured',
       'Annual_Premium', 'Policy_Sales_Channel', 'Vintage', 'Response',
       'Vehicle_Age_lt_1_Year', 'Vehicle_Age_gt_2_Years',
       'Vehicle_Damage_Yes'],
      dtype='object')

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import precision_score, recall_score, confusion_matrix,accuracy_score
from sklearn.metrics import f1_score, roc_auc_score, roc_curve,classification_report

num_trees = 200
max_features = 3
models = []
models.append(('LR',LogisticRegression()))
models.append(('KNN',KNeighborsClassifier()))
models.append(('DTC',DecisionTreeClassifier()))
models.append(('RF',RandomForestClassifier(n_estimators=num_trees, max_features=max_features)))
models.append(('NB',GaussianNB()))
models.append(('SVM',SVC()))
models.append(('GB',GradientBoostingClassifier()))

In [37]:
from sklearn.model_selection import train_test_split
X = df.drop(['Response'],axis=1)
y = df['Response']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 101)

In [38]:
from sklearn.metrics import accuracy_score
lr = LogisticRegression()
knn=KNeighborsClassifier()
nb=GaussianNB()
dtc=DecisionTreeClassifier()
sv=SVC()
rf=RandomForestClassifier()
gb = F=GradientBoostingClassifier()

Logistic Regression

In [39]:
lr = lr.fit(X_train,y_train)
y_pred_lr = lr.predict(X_test)
print(classification_report(y_test,y_pred_lr))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     83703
           1       0.00      0.00      0.00     11575

    accuracy                           0.88     95278
   macro avg       0.44      0.50      0.47     95278
weighted avg       0.77      0.88      0.82     95278

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

KNN

In [40]:
Knn = knn.fit(X_train,y_train)
y_pred_knn = knn.predict(X_test)
print(classification_report(y_test,y_pred_knn))

              precision    recall  f1-score   support

           0       0.88      0.97      0.92     83703
           1       0.22      0.06      0.09     11575

    accuracy                           0.86     95278
   macro avg       0.55      0.51      0.51     95278
weighted avg       0.80      0.86      0.82     95278

GaussianNB

In [41]:
nb = nb.fit(X_train,y_train)
y_pred_nb = nb.predict(X_test)
print(classification_report(y_test,y_pred_nb))

              precision    recall  f1-score   support

           0       0.91      0.89      0.90     83703
           1       0.31      0.36      0.33     11575

    accuracy                           0.82     95278
   macro avg       0.61      0.62      0.61     95278
weighted avg       0.84      0.82      0.83     95278

Decision Tree Classifier

In [42]:
dtc = dtc.fit(X_train,y_train)
y_pred_dtc = dtc.predict(X_test)
print(classification_report(y_test,y_pred_dtc))

              precision    recall  f1-score   support

           0       0.90      0.89      0.90     83703
           1       0.29      0.31      0.30     11575

    accuracy                           0.82     95278
   macro avg       0.60      0.60      0.60     95278
weighted avg       0.83      0.82      0.83     95278

Random Forest

In [43]:
rf = rf.fit(X_train,y_train)
y_pred_rf = rf.predict(X_test)
print(classification_report(y_test,y_pred_rf))

              precision    recall  f1-score   support

           0       0.89      0.97      0.93     83703
           1       0.35      0.11      0.17     11575

    accuracy                           0.87     95278
   macro avg       0.62      0.54      0.55     95278
weighted avg       0.82      0.87      0.84     95278

Gradient Boosting

In [44]:
gb.fit(X_train,y_train)
y_pred_gb = gb.predict(X_test)
print(classification_report(y_test,y_pred_gb))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     83703
           1       0.20      0.00      0.00     11575

    accuracy                           0.88     95278
   macro avg       0.54      0.50      0.47     95278
weighted avg       0.80      0.88      0.82     95278

SVC

In [45]:
sv.fit(X_train,y_train)
y_pred_sv = sv.predict(X_test)
print(classification_report(y_test,y_pred_sv))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     83703
           1       0.00      0.00      0.00     11575

    accuracy                           0.88     95278
   macro avg       0.44      0.50      0.47     95278
weighted avg       0.77      0.88      0.82     95278

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
y_prediction = {'Orginal Response':[],'LogisticRegression_Y':[] ,'KNeighbors_Y': [],'NB_Y': [],'DecisionTree_Y': [],'RandomForest_Y': []}
Response_Prediction = pd.DataFrame (y_prediction)
for i in range(y_test.values.size):
    Response_Prediction = Response_Prediction.append({'Orginal Response':y_test.values[i],'LogisticRegression_Y':y_pred_lr[i] ,'KNeighbors_Y': y_pred_knn[i],'NB_Y': y_pred_nb[i],'DecisionTree_Y': y_pred_dtc[i],'RandomForest_Y': y_pred_rf[i]},ignore_index=True)
df

        Gender  Age  ...  Vehicle_Age_gt_2_Years  Vehicle_Damage_Yes
0            1   44  ...                       1                   1
1            1   76  ...                       0                   0
2            1   47  ...                       1                   1
3            1   21  ...                       0                   0
4            0   29  ...                       0                   0
...        ...  ...  ...                     ...                 ...
381104       1   74  ...                       0                   0
381105       1   30  ...                       0                   0
381106       1   21  ...                       0                   0
381107       0   68  ...                       1                   1
381108       1   46  ...                       0                   0

[381109 rows x 12 columns]